NODE_ENV=development
PORT=3001

DATABASE_URL="postgresql://user:password@localhost:5432/hoa_management?schema=public"

# Microsoft Entra External ID (CIAM) tenant
ENTRA_TENANT_ID=00000000-0000-0000-0000-000000000000
ENTRA_CLIENT_ID=00000000-0000-0000-0000-000000000000
ENTRA_JWKS_URI=https://<tenant-subdomain>.ciamlogin.com/<tenant-id>/discovery/v2.0/keys
ENTRA_ISSUER=https://<tenant-subdomain>.ciamlogin.com/<tenant-id>/v2.0

AZURE_STORAGE_ACCOUNT_NAME=changeme

ACS_CONNECTION_STRING="endpoint=https://changeme.communication.azure.com/;accesskey=changeme"
ACS_SENDER_ADDRESS=DoNotReply@changeme.azurecomm.net

CORS_ORIGIN=http://localhost:3000
